In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
from sklearn.linear_model import LinearRegressionRegression

In [6]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [7]:
from sklearn.model_selection import train_test_split

In [11]:
train = pd.read_excel("Data_Train.xlsx")

In [12]:
train.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300

In [14]:
test = pd.read_excel("Data_Test.xlsx")

In [15]:
test.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes
3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes

In [16]:
train.shape

(12690, 9)

In [17]:
test.shape

(4231, 8)

In [113]:
train["Source"] = "train"
test["Source"] = "test"
df = pd.concat([train, test])

C:\Users\Nagi\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [114]:
df.shape

(16921, 10)

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16921 entries, 0 to 4230
Data columns (total 10 columns):
CITY             16774 non-null object
COST             12690 non-null float64
CUISINES         16921 non-null object
LOCALITY         16793 non-null object
RATING           16917 non-null object
RESTAURANT_ID    16921 non-null int64
Source           16921 non-null object
TIME             16921 non-null object
TITLE            16921 non-null object
VOTES            15315 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.4+ MB

In [116]:
 df.describe().T

,count,mean,std,min,25%,50%,75%,max
COST,12690.0,655.252246,627.003540,20.0,300.0,500.0,800.0,14000.0
RESTAURANT_ID,16921.0,7767.211631,4493.287626,0.0,3873.0,7751.0,11672.0,15573.0

In [117]:
df.duplicated().sum()

26

In [118]:
df.drop_duplicates(inplace = True)

In [119]:
df.shape

(16895, 10)

In [120]:
df.isna().sum()

CITY              147
COST             4230
CUISINES            0
LOCALITY          128
RATING              4
RESTAURANT_ID       0
Source              0
TIME                0
TITLE               0
VOTES            1602
dtype: int64

In [121]:
df.shape

(16895, 10)

In [122]:
df.shape

(16895, 10)

In [123]:
df.head()

,CITY,COST,CUISINES,LOCALITY,RATING,RESTAURANT_ID,Source,TIME,TITLE,VOTES
0,Thane,1200.0,"Malwani, Goan, North Indian",Dombivali East,3.6,9438,train,"11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",CASUAL DINING,49 votes
1,Chennai,1500.0,"Asian, Modern Indian, Japanese",Ramapuram,4.2,13198,train,6pm – 11pm (Mon-Sun),"CASUAL DINING,BAR",30 votes
2,Chennai,800.0,"North Indian, Chinese, Biryani, Hyderabadi",Saligramam,3.8,10915,train,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",CASUAL DINING,221 votes
3,Mumbai,800.0,"Tibetan, Chinese",Bandra West,4.1,6346,train,11:30am – 1am (Mon-Sun),QUICK BITES,24 votes
4,Mumbai,300.0,Desserts,Lower Parel,3.8,15387,train,11am – 1am (Mon-Sun),DESSERT PARLOR,165 votes

In [124]:
df['VOTES'] = df['VOTES'].str.extract('(\d+)', expand=False).astype(float)

In [125]:
df.head()

,CITY,COST,CUISINES,LOCALITY,RATING,RESTAURANT_ID,Source,TIME,TITLE,VOTES
0,Thane,1200.0,"Malwani, Goan, North Indian",Dombivali East,3.6,9438,train,"11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",CASUAL DINING,49.0
1,Chennai,1500.0,"Asian, Modern Indian, Japanese",Ramapuram,4.2,13198,train,6pm – 11pm (Mon-Sun),"CASUAL DINING,BAR",30.0
2,Chennai,800.0,"North Indian, Chinese, Biryani, Hyderabadi",Saligramam,3.8,10915,train,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",CASUAL DINING,221.0
3,Mumbai,800.0,"Tibetan, Chinese",Bandra West,4.1,6346,train,11:30am – 1am (Mon-Sun),QUICK BITES,24.0
4,Mumbai,300.0,Desserts,Lower Parel,3.8,15387,train,11am – 1am (Mon-Sun),DESSERT PARLOR,165.0

In [126]:
df["CUISINES"]= df["CUISINES"].str.split(",", expand = True)

In [127]:
df.columns

Index(['CITY', 'COST', 'CUISINES', 'LOCALITY', 'RATING', 'RESTAURANT_ID',
       'Source', 'TIME', 'TITLE', 'VOTES'],
      dtype='object')

In [128]:
df.shape

(16895, 10)

In [108]:
df.head()

,CITY,COST,CUISINES,LOCALITY,RATING,RESTAURANT_ID,Source,TIME,TITLE,VOTES
0,Thane,1200.0,Malwani,Dombivali East,3.6,9438,train,"11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",CASUAL DINING,49.0
1,Chennai,1500.0,Asian,Ramapuram,4.2,13198,train,6pm – 11pm (Mon-Sun),"CASUAL DINING,BAR",30.0
2,Chennai,800.0,North Indian,Saligramam,3.8,10915,train,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",CASUAL DINING,221.0
3,Mumbai,800.0,Tibetan,Bandra West,4.1,6346,train,11:30am – 1am (Mon-Sun),QUICK BITES,24.0
4,Mumbai,300.0,Desserts,Lower Parel,3.8,15387,train,11am – 1am (Mon-Sun),DESSERT PARLOR,165.0

In [129]:
df.RATING.unique()

array(['3.6', '4.2', '3.8', '4.1', '4.0', '4.3', '3.9', '3.3', '3.4', '-',
       '4.5', '3.5', '4.4', '2.7', '3.7', '4.7', 'NEW', '3.1', '2.5',
       '4.6', '2.8', nan, '3.0', '3.2', '2.6', '2.9', '4.9', '4.8', '2.4',
       '2.3', '2.0', '2.1', '2.2'], dtype=object)

In [130]:
new_val = df[df.RATING == 'NEW']

In [131]:
new_val

,CITY,COST,CUISINES,LOCALITY,RATING,RESTAURANT_ID,Source,TIME,TITLE,VOTES
62,Kochi,200.0,North Indian,Kalamassery,NEW,7841,train,11am – 11pm (Mon-Sun),QUICK BITES,NaN
69,New Delhi,200.0,Pizza,Kalkaji,NEW,11096,train,11am – 11pm (Mon-Sun),None,NaN
111,Mumbai,800.0,Gujarati,Borivali West,NEW,7095,train,"11:30am – 3:30pm, 7pm – 11pm (Mon-Sun)",CASUAL DINING,NaN
117,New Delhi,500.0,North Indian,Dwarka,NEW,8091,train,11am – 11pm (Mon-Sun),QUICK BITES,NaN
120,Bangalore-560066,150.0,North Indian,Whitefield,NEW,4993,train,"7:30am – 9:30pm (Mon-Sat),Closed (Sun)",QUICK BITES,NaN
165,Mumbai,300.0,American,Malad West,NEW,10292,train,11am – 11pm (Mon-Sun),QUICK BITES,NaN
194,Bangalore,300.0,North Indian,Marathahalli,NEW,4666,train,11am – 11pm (Mon-Sun),QUICK BITES,NaN
212,Bangalore,300.0,South Indian,Sahakara Nagar,NEW,7426,train,12noon – 11pm (Mon-Sun),QUICK BITES,NaN
214,Thane,300.0,BBQ,Ambernath,NEW,1480,train,"6:30pm – 10:30pm (Mon, Wed, Thu, Fri, Sat, Sun...",FOOD TRUCK,NaN
215,New Delhi,200.0,Fast Food,Tilak Nagar,NEW,12879,train,2pm – 2am (Mon-Sun),None,NaN
227,Navi Mumbai,250.0,Bihari,CBD-Belapur,NEW,1677,train,"10am – 10:30pm (Mon-Fri),11:30am – 11:30pm...",QUICK BITES,NaN
266,Thane,100.0,Juices,Thane West,NEW,8239,train,11am – 12midnight (Mon-Sun),BEVERAGE SHOP,NaN
270,Bangalore,200.0,Beverages,Doddathoguru Electronic City,NEW,7741,train,11am – 4am (Mon-Sun),BEVERAGE SHOP,NaN
297,Mumbai,600.0,Beverages,Malad West,NEW,13556,train,11am – 11pm (Mon-Sun),CAFÉ,NaN
372,Bangalore,150.0,Fast Food,Koramangala 6 Block,NEW,11845,train,7am – 10:30pm (Mon-Sun),QUICK BITES,NaN
404,New Delhi,300.0,Biryani,Laxmi Nagar,NEW,255,train,11am – 11pm (Mon-Sun),None,NaN
408,Kochi,200.0,Kerala,Perumbavoor,NEW,704,train,11am – 7pm (Mon-Sun),QUICK BITES,NaN
420,Mumbai,500.0,Fast Food,Kandivali West,NEW,426,train,1pm – 12midnight (Mon-Sun),QUICK BITES,NaN
426,Mumbai,900.0,Ethiopian,Juhu,NEW,8258,train,11am – 10:30pm (Mon-Sun),CASUAL DINING,NaN
437,Kochi,200.0,South Indian,Perumbavoor,NEW,500,train,9am – 10pm (Mon-Sun),QUICK BITES,NaN
445,Kochi,800.0,Continental,Nedumbassery,NEW,10227,train,11am – 11pm (Mon-Sun),CASUAL DINING,NaN
468,Chennai,250.0,North Indian,Aminijikarai,NEW,226,train,11am – 11:30pm (Mon-Sun),QUICK BITES,NaN
505,Bangalore,150.0,Desserts,Electronic City,NEW,7554,train,11am – 10pm (Mon-Sun),DESSERT PARLOR,NaN
512,New Delhi,650.0,North Indian,East of Kailash,NEW,8816,train,"11am – 10:30pm (Mon-Wed),9am – 10:33pm...",QUICK BITES,NaN
583,Kochi,300.0,Fast Food,Perumbavoor,NEW,3048,train,11am – 11pm (Mon-Sun),QUICK BITES,NaN
601,Mumbai,400.0,Desserts,Vile Parle East,NEW,7978,train,11am – 1am (Mon-Sun),DESSERT PARLOR,NaN
602,New Delhi,200.0,South Indian,Rohini,NEW,14805,train,"Closed (Mon),11am – 10pm (Tue-Sun)",QUICK BITES,NaN
641,New Delhi,350.0,North Indian,Tilak Nagar,NEW,918,train,11am – 11pm (Mon-Sun),QUICK BITES,NaN
659,Kochi Elamkulam,300.0,Kerala,Perumbavoor,NEW,9174,train,12noon – 11pm (Mon-Sun),QUICK BITES,NaN
674,Kochi,300.0,South Indian,Perumbavoor Circle,NEW,11267,train,9am – 11pm (Mon-Sun),QUICK BITES,NaN
...,...,...,...,...,...,...,...,...,...,...
3620,Bangalore,NaN,Finger Food,JP Nagar,NEW,2280,test,"12noon – 11:30pm (Mon-Tue),12noon – 1am (Wed-Sun)","MICROBREWERY,CASUAL DINING",NaN
3632,Bangalore,NaN,South Indian,Near Jalahalli,NEW,14732,test,6am – 10pm (Mon-Sun),QUICK BITES,NaN
3656,Mumbai,NaN,Fast Food,Ghatkopar East,NEW,10488,test,11am – 9pm (Mon-Sun),QUICK BITES,NaN
3660,Mumbai,NaN,Cafe,Kandivali East,NEW,3544,test,"Closed (Mon),10am – 10:30pm (Tue-Sun)","CAFÉ,BAKERY",NaN
3672,Bangalore,NaN,Ice Cream,BTM,NEW,4923,test,11am – 3am (Mon-Sun),DESSERT PARLOR,NaN
3698,Mumbai,NaN,Continental,Kurla,NEW,4707,test,"9am – 12midnight (Mon-Fri),9am – 12:30AM (Sat-...",CASUAL DINING,NaN
3704,New Delhi,NaN,North Indian,Dwarka,NEW,371,test,10am – 11pm (Mon-Sun),QUICK BITES,NaN
3726,Faridabad,NaN,Biryani,Sector 14,NEW,1019,test,"12noon – 11pm (Mon, Wed, Thu, Fri, Sat, Sun)...",QUICK BITES,NaN
3727,Kochi,NaN,Chinese,Kochi,NEW,3556,test,10am – 11pm (Mon-Sun),CASUAL DINING,NaN
3741,Mumbai,NaN,North Indian,Dahisar East,NEW,7411,test,3pm – 12midnight (Mon-Sun),QUICK BITES,NaN
3773,New Delhi,NaN,Fast Food,Krishna Nagar,NEW,10780,test,2pm – 4am (Mon-Sun),None,NaN
3793,Mumbai,NaN,North Indian,Khar,NEW,5319,test,12noon – 3:30am (Mon-Sun),None,NaN
3799,Mumbai,NaN,North Indian,Bandra West,NEW,13534,test,6:30pm – 1:30am (Mon-Sun),BAR,NaN
3801,Mumbai,NaN,Chinese,Jogeshwari,NEW,4803,test,12noon – 5am (Mon-Sun),QUICK BITES,NaN
3823,Bangalore,NaN,Beverages,Koramangala 5th Block,NEW,3728,test,9:30am – 10:30pm (Mon-Sun),QUICK BITES,NaN
3861,New Delhi,NaN,Fast Food,Rohini,NEW,6835,test,10am – 10pm (Mon-Sun),QUICK BITES,NaN
3870,New Delhi,NaN,Fast Food,Vikaspuri,NEW,8166,test,"12noon – 12midnight (Mon, Wed, Thu, Fri, Sat...",QUICK BITES,NaN
3891,Chennai,NaN,South Indian,Medavakkam,NEW,11528,test,11am – 11pm (Mon-Sun),QUICK BITES,NaN
3981,Bangalore,NaN,Fast Food,Electronic City,NEW,2813,test,7am – 11pm (Mon-Sun),FOOD TRUCK,NaN
4020,New Delhi,NaN,North Indian,Uttam Nagar,NEW,9974,test,11am – 12midnight (Mon-Sun),CASUAL DINING,NaN
4071,New Delhi,NaN,Chinese,Pillar 178 East Patel Nagar,NEW,10693,test,11am – 11pm (Mon-Sun),CASUAL DINING,NaN
4096,Bengaluru,NaN,Cafe,Koramangala 7th Block,NEW,4002,test,11:30am – 11pm (Mon-Sun),CAFÉ,NaN
4098,New Delhi,NaN,Fast Food,Kailash Colony,NEW,9836,test,3pm – 11pm (Mon-Sun),QUICK BITES,NaN
4108,New Delhi,NaN,Pizza,Zakir Nagar,NEW,14401,test,11am – 11pm (Mon-Sun),QUICK BITES,NaN
4168,New Delhi,NaN,Continental,Ashok Vihar Phase 2,NEW,13882,test,11am – 11pm (Mon-Sun),CASUAL DINING,NaN
4181,Mumbai,NaN,American,Fort,NEW,681,test,7pm – 1am (Mon-Sun),CASUAL DINING,NaN
4183,Noida,NaN,Cafe,Sector 63,NEW,7007,test,11am – 11pm (Mon-Sun),CAFÉ,NaN
4185,New Delhi,NaN,Fast Food,Shalimar Bagh,NEW,6387,test,12:30pm – 10:30pm (Mon-Sun),QUICK BITES,NaN
4198,Bangalore,NaN,Continental,Indiranagar,NEW,13381,test,11am – 12midnight (Mon-Sun),QUICK BITES,NaN
4223,Mumbai,NaN,Sindhi,Lower Parel,NEW,6887,test,"11:30am – 4pm, 7pm – 11:30pm (Mon-Sun)",CASUAL DINING,NaN

In [132]:
df= df[df.RATING != 'NEW']

In [134]:
df.shape

(15968, 10)

In [135]:
hyphen_val = df[df.RATING == '-']

In [136]:
hyphen_val.shape

(671, 10)

In [137]:
df= df[df.RATING != '-']

In [138]:
df.shape

(15297, 10)

In [141]:
new_val.loc[:,'RATING'] = ''

AttributeError: 'str' object has no attribute 'loc'

In [142]:
new_val.shape

AttributeError: 'str' object has no attribute 'shape'